<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<body>
		<h1>Profile Page for users</h1>
		<p>Name : <%= user.name %></p>
		<p>Email : <%= user.email %></p>

		<form action="/users/sign-out">
			<button>Sign Out</button>
		</form>
	</body>
</html>
